/*
To Do List
Make the page look good*/

body{
    background:#232627;
}

h1{
	color: #004daa;
	font-size: 45px;
	font-family: times new roman, arial;
}

p {color: #d8d4cf;
	font-family: times new roman, 'Times New Roman';
}

div{color: white}
.button{
    background-color: cornflowerblue;
    width: 33%;
    height: 33px;
    border-radius: 15px;
    border-color: darkblue;

}

table {
    border-style: solid;
    text-align: left;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(6, 2, 49));
    border: 1px solid rgb(255, 255, 255);
          width: 35%;
    
  }
th {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
  td {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid cornflowerblue;
  }